@font-face{
  font-family: Comfortaa;
  src: url('../fonts/Comfortaa.ttf');
}

@font-face{
    font-family: PoppinsL;
    src: url('../fonts/Poppins-light.ttf');
}

@font-face{
    font-family: PoppinsR;
    src: url('../fonts/Poppins-regular.ttf');
}

@font-face{
    font-family: PoppinsB;
    src: url('../fonts/Poppins-bold.ttf');
}

:root{
  --primary-color: #38EF7D;
  --secondary-color: #11998E;
  --primary-gradient: -webkit-linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  --bg-gray: #333;
  --bg-lightgray: #444;
  --default-white: #fff;
}

html,
body {
  background-color: var(--bg-gray);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* width */
body::-webkit-scrollbar {
  width: 8px;
  padding: 0 4px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #666;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
